html {
    background-image: linear-gradient(red, blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: khaki;
}

h2 {
    font-weight: bold;
}

img {
    height: 200px;
    width: 180px;
}

.links {
    text-decoration: none;
    color: khaki;
}